<h1>Showing Selected article</h1>

<p>
Title: <%= @article.title %>
</P>
<p>
Description: <%= @article.description %>
</p>

<%= link_to "Edit Article", edit_article_path %> |
<%= link_to "Back to Articles", articles_path %>
